# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#for client
#dependencies
/client/node_modules
#credentials for db
/client/.env

#for server
#dependencies
/server/node_modules
#this is our DB credentials
/server/nodemon.json



